mixin -single-tour-plan-item(plan, index)
	+b.-single-tour-plan-item
		.-single-tour-plan-item__heading
			.-single-tour-plan-item__date
				img(src="assets/images/-single-tour-plan-day-"+(index+1)+'.png', alt="" class=".-single-tour-plan-item__day-logo")
				.-single-tour-plan-item__date-text
					p #{plan.date}
					p #{plan.dateSubtitle}
			.-single-tour-plan-item__actions
				p #{plan.actions}
				p #{plan.actionsSubtitle}
		.-single-tour-plan-item__description
			each paragraph in plan.description
				p.-single-tour-plan-item__description-item
					|#{paragraph}
					
		.-single-tour-plan-item__photos-wrapper
			button.-single-tour-plan-item__button(id='singleTourPlanPrevPage-'+(index+1))
			.-single-tour-plan-item__photos(id='singleTourPlanPhotos-'+(index+1))
			button.-single-tour-plan-item__button.-single-tour-plan-item__button--active(id='singleTourPlanNextPage-'+(index+1))