include ../circle/circle
include ../button/button
include ../tour-logo/tour-logo

mixin schedule-tour(tour, index)
	+b.schedule-tour(class=index>1?'mobile-hidden':'')
		.schedule-tour__inside
			.schedule-tour__heading 
				+tour-logo(tour)

			-
				function getPlacesString(places) {
					if (places % 100 < 20 && places > 4) {
						return 'свободных мест';
					} else if (places % 10 === 1) {
						return 'свободное место';
					} else if (places % 10 > 1 && places % 10 < 5) {
						return 'свободных места';
					}
				}
					
			
			.schedule-tour__info
				p.schedule-tour__date #{tour.date}
				if tour.freePlaces
					p.schedule-tour__free-places (#{tour.freePlaces} #{getPlacesString(tour.freePlaces)})
				else
					p #{''}

			p.schedule-tour__description #{tour.description}
			if tour.avia
				p.schedule-tour__price #{tour.price} € + авиаперелёт
			else
				p.schedule-tour__price #{tour.price} €

			+button('Программа тура')
				
			block
